* {
    padding: 0%;
    margin: 0%;
}

/* --------------------------------------------------------------login-page--------------------------------------------------------------  */
.main_login_page {
    background-color: #f4f4f4;
}

/* --------------------------------------------------------------left-side--------------------------------------------------------------  */

.main_login_page {
    display: flex;
    height: 100vh;
}

.main_left {
    margin: 9% 5% 0% 7%;
}

.main_login_image {
    /* display: contents; */
    border-radius: 50%;
    width: 80%;
    box-shadow: 0px 0px 0px 12px white;
}

/* --------------------------------------------------------------right-side--------------------------------------------------------------  */

.main_right {
    margin: 9% 5% 0% 0%;
}

.company_logo {
    display: flex;
}

.logo {
    width: 9%;
}

.company_logo h1 {
    font-size: 4.5vh;
    padding: 1% 0% 0% 2%;
    color: #143141;
}

.content_expert {
    margin: 3% 0% 3.5% 0%;
}

.content_expert p {
    font-size: 4vh;
    padding: 0% 40% 0% 0%;
}

#extert_highlite {
    color: #c8242f;
}

.login_account_div {
    margin: 0% 0% 3% 0%;
}

.login_account_div p {
    font-size: 3vh;

}

/* --------------------------------------------------------------login input CSS--------------------------------------------------------------  */

.input_username {
    margin: 0% 0% 3% 0%;
}

.input_password {
    margin: 0% 0% 3% 0%;
}

#user {
    font-size: 15px;
    border-radius: 5px;
    border-style: solid;

    background-color: transparent;
    color: gray;
    width: 44%;
    padding: 1.5% 2% 1.5% 2%;
}

#userpassword {
    font-size: 15px;
    border-radius: 5px;
    border-style: solid;
    background-color: transparent;
    color: gray;
    width: 44%;
    padding: 1.5% 2% 1.5% 2%;
}

/* --------------------------------------------------------------login button--------------------------------------------------------------  */

.login_button {
    cursor: pointer;
    border: none;
    background-color: #c8242f;
    color: white;
    font-weight: bold;
    border-radius: 36px;
    padding: 10px 38px;
    font-size: 14px;
    margin: 0% 0% 3% 0%;
}

.login_button_div a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
    margin: 0% 0% 0% 16%;
}

/* -----------------------------------------------------------------register--------------------------------------------------------------  */

.register_here {
    display: flex;
}

.register_here p {
    color: gray;
    font-size: 14px;
}

.register_here a {
    text-decoration: none;
    color: #c8242f;
    cursor: pointer;
}

/* -----------------------------------------------------------------------------------------------------------------------------------  */
/* -----------------------------------------------------------------------------------------------------------------------------------  */

/* ----------------------------------------------------------------Dashboard page--------------------------------------------------  */

/* ----------------------------------------------------------------Title--------------------------------------------------  */

* {
    margin: 0%;
    padding: 0%;
}

/* .main_title_div {
    margin: 1.5% 0% 0% 0%;
} */

.title_menubar {
    margin-left: 1rem;
}

#hamburger2 {
    display: none;
}

.title_headerlogo {
    margin-left: 2rem;
}

.title_search {
    width: 1.25rem;
    margin-left: 6rem;
}

.title_search_text {
    margin-left: 0.3rem;
}

.title_notification {
    margin-right: 6rem;
}

.title_profile_image,
.title_profile_image_text {
    margin-right: 0.45rem;
}

.title_downward {
    margin-right: 3.5rem;
}

/* ----------------------------------------------------------------Navbar--------------------------------------------------  */

#navbar_margin {
    margin: 1.8rem 0rem 0rem 1rem;
}

.navbar_items {
    height: 5rem;
}

.navbar_items a img {
    width: 1.8rem;
    margin-right: 0.7rem;
}

.dashboard_edit button {
    color: #C8242F;
    background-color: #FFF3F4;
    border-radius: 5px;
    border: none;
    padding: 0.3rem 0.9rem;
}

/* ------------------------------------------------------------Dashboard Content icons------------------------------------------------------  */
/* .main_icon_div {
    box-shadow: 0px 0px 3px #888888;
    border-radius: 5px;
} */
.icon_box_decorate {
    padding: 0.7rem 0.9rem 0.4rem 0.7rem;
    box-shadow: 0px 0px 4px grey;
    border: none;
    border-radius: 10px;
    justify-content: center;
}

.icons {
    margin-top: 0.6rem;
}

.icons_content_div {
    margin-left: 0.9rem;
}

.number {
    font-size: 1.5rem;
    margin: 0%;
}

.number_product {
    font-size: 0.9rem;
    color: gray;
}

/* ------------------------------------------------------------Dashboard Content graph------------------------------------------------------  */
/* .main_graph_div {
    background: #f7f6f6 0% 0% no-repeat padding-box;
    border-radius: 5px;
} */

.week_decorate,
.month_decorate {
    color: gray;
}

.yearly_decorate {
    border-bottom: 1px solid #c8242f;
    color: #C8242F;
    height: 27px;
    inline-size: auto !important;
}

.graph_decorate_border {
    box-shadow: 0px 0px 4px grey;
    border-radius: 12px;
    padding: 1rem;
}

.piechart_decorate {
    padding: 1rem;
    padding-left: 1rem;
}

/* ------------------------------------------------------------Dashboard Content pie chart------------------------------------------------------  */
.country,
.dots_main_div {
    color: #3E3E3E
}

.dot_circle {
    height: 22px;
    width: 22px;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
}

.dot1 {
    background: #C8242F;
}

.dot2 {
    background: #A2B86C;
}

.dot3 {
    background: #F16C20;
}

.dot4 {
    background: #EBC844;
}

/* ------------------------------------------------------------Dashboard table------------------------------------------------------  */
.main_table_border {
    padding-right: 54px !important;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #888888;
    margin-top: 3rem !important;
}

/* .main_table_div_padding {
    padding-right: 54px !important;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #888888;
} */

.main_table {
    vertical-align: baseline;
}

.viewall_decorate {
    color: #C8242F;
    height: 27px;
}

.table_header tr th {
    color: #ADADAD;
    /* font: normal normal normal 15px/20px Roboto; */
}

.status_button_paid {
    background: #EBFFEF 0% 0% no-repeat padding-box;
    color: #3CDD5F;
    border: none;
    border-radius: 4px;
    padding: 1px 9px 1px 9px;
}

.status_button_failed {
    background: #FFF5F5 0% 0% no-repeat padding-box;
    color: #FF4545;
}

.status_button_pending {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    color: #BABABA;
}

/* -------------------------------------------------------------------------------------------------------------------------------------  */

/* ------------------------------------------------------------Inner page------------------------------------------------------  */

input:focus,
select:focus,
textarea:focus {
    border-color: #c8242f !important;
    box-shadow: none !important;
}

input[type=radio]#Red,
input[type=radio]#Red2,
input[type="checkbox"]#Red3,
input[type="checkbox"]#Red4 {
    accent-color: #c8242f;
}

/* 
input[type="checkbox"]#Red3 {

    accent-color: #FF0000;
} */


/*  */
input[type=file]#formFile {
    border: none;
    display: none;
}

#formFile::before {
    content: "Upload";
}

.analysis_edit button {
    background-color: #FFF3F4 !important;
}


/* ------------------------------------------------------------Upload file------------------------------------------------------  */
.upload_button {
    background-color: white;
    border: none;
    color: #c8242f;
    border: 2px solid #c8242f;
    border-radius: 50px;
    padding: 6px 21px;
    cursor: pointer;
    margin-right: 1rem;
}

.upload_button label {
    cursor: pointer;
}

/*  */
.lable_color {
    color: #3E3E3E;

}

.analysis_edit button {
    color: #C8242F;
    background-color: #FFF3F4;
    border-radius: 5px;
    border: none;
    padding: 0.3rem 0.9rem;
}

.one_column_p,
.other_elements {
    font-size: 18px;
    color: #3E3E3E;
    font-weight: 500;
}

.special_disabled_border {
    border-style: dashed;
}

.select_decorate,
.valid_data_text_edit {
    color: #6c757d;
}

.valid_data_text_edit {
    font-size: 0.9rem;
}

.four_column_focus input:focus~.valid_data_text_edit {
    color: #c8242f;
}

.other_elements {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* ------------------------------------------------------------error buttons------------------------------------------------------  */

.error_buttons {
    text-align: left;
    font-size: 1rem;
    color: #FF3535;
    border: none;
    box-shadow: none !important;
    border: 2px solid #FF3535;
    padding-left: 20px;
}

.error_buttons:hover {
    cursor: default;
}

.error_buttons:focus {
    color: #FF3535;
    border: none;
    box-shadow: none !important;
    border: 2px solid #FF3535;
}

.error_buttons img {
    vertical-align: middle;
    width: 1.5rem;
    margin-right: 6px;
}

#info_button {
    color: #00B9E1;
    border: 2px solid #00B9E1;
}

#warning_buttons {
    color: #FFA800;
    border: 2px solid #FFA800;
}

#success_button {
    color: #00AF27;
    border: 2px solid #00AF27;
}

/* ------------------------------------------------------------Call to action file------------------------------------------------------  */
#call_to_action:hover {
    background: #C8242F;
    color: #FFFFFF;
}

/* ------------------------------------------------------------ Tabs ------------------------------------------------------  */
.tabs_main_ul {
    border-bottom: 2px solid #6c757d;
}

#color_change:hover {
    border: none;
}

#default_border {
    border-bottom: 2px solid #C8242F;

}

#default_border a {
    color: #C8242F;
}

.tabs_main_ul li a {
    text-decoration: none;
    color: #6c757d;
}

.tabs_main_ul li a:hover {
    border-bottom: 2px solid #C8242F;

}

.nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 2px solid #C8242F;
    color: #C8242F;
    overflow: visible;
}

.tabs_main_ul li a:active {
    /* border: none; */
    border-bottom: 2px solid #C8242F;
}

/* 
/* .nav-tabs .nav-link:visited {
    border-bottom: 3px solid #C8242F;
    color: #C8242F;
} */
#tab2 {
    display: none;
    /* overflow: visible; */
}

#tab3 {
    display: none;

}

/* ------------------------------------------------------------------------------------------------------------------  */
/* ------------------------------------------------------------------------------------------------------------------  */

/* #hamburger,
#hamburger2 {
    display: none;
}

@media screen and (max-width:800px) {
    .disabledbtn {
        display: none;
    }


    #hamburger,
    #hamburger2 {
        display: block;
    }
} */